@font-face {
    font-family: 'IRANSans';
    src: url("/font/IRANSans/Sans\ a4fran3.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IRANSans';
}

body {
    background: #f6f5f7;
    margin: 100px 0 0 50px;
}

p {
    font-size: 14px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #cc0001;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-top: 10px;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(.95);
}

form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
    margin: 8px 0px;
}




